@model ImageMapResizeWebsite.ViewModels.LicenseIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>License</h2>

<p>
	ImageMapResize is released under the MIT License.  This is the same licence jQuery, jQueryUI, and many other open source projects you.  If you want to read the licence
	you can view the <a href="https://github.com/leemicw/ImageMapResize/blob/master/License.txt">complete text on github</a>.
</p>
