@model ImageMapResizeWebsite.ViewModels.Home.HomeIndexViewModel

@{
	ViewBag.Title = "ImageMapResize Home";
}

<h2>Project Goal</h2>
<p>
	Make client side image maps work in responsive websites.  Keep the implementation of the plugin as simple as possible and keep the size of the plugin as small as possible.  
</p>

<h2>Example</h2>
<p>
	<img src="~/images/Home/Index/SampleShapes.gif" alt="Image Map Sample" usemap="#sampleShapesMap" />
	<map name="sampleShapesMap">
		<area shape="rect" alt="" title="" coords="100,112,192,184" href="http://www.google.com"/>
		<area shape="circle" alt="" title="" coords="355,148,55" href="http://www.bing.com"/>
		<area shape="poly" alt="" title="" coords="564,95,537,153,558,207,614,233,668,214,694,159,677,103,618,77,598" href="http://www.yahoo.com" />
		<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
	</map>
</p>

<h2>The Problem</h2>

<p>
	Since client side images maps are created for an image at its unscaled size when you scale an image up or down in responsive design the coordinates no longer work.  
</p>

<h2>The Plan</h2>

<p>
	Solve this problem with a simple jQuery plug-in.  The plugin will store the original coordinates and scale them with the image as the page resizes.  The scaling will only work when the 
	aspect ratio of the image is preserved.  
</p>




