@model ImageMapResizeWebsite.ViewModels.Contribute.ContributeIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Contributing</h2>

<p>
	We don't have a lot of fancy documentation or build processes yet.  If you find a bug or want to propose a better way to do something we plan on using the basic Fork, Commit, Pull Request, Merge workflow.
	This is a github article on <a href="https://help.github.com/articles/fork-a-repo">getting started by forking and making changes to repositories</a>.
</p>
