@model ImageMapResizeWebsite.ViewModels.Usage.UsageIndexViewModel

@{
    ViewBag.Title = "Index";
}

@section head{
	@Styles.Render("~/cssBundles/Usage/Index")

}

<h2>Usage</h2>

<p>
	Below is sample html/javascript to show how to use the Image Map Resize plug-in.
</p>

<img id="imgCodeSample" src="~/images/usage/index/codesample.jpg" />