@model ImageMapResizeWebsite.ViewModels.Download.DownloadIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Versioning</h2>

<p>We use the <a href="http://semver.org/">Semantic Versioning 2.0.0</a> system for versioning this library. </p>

<h2>Zip File</h2>

<p>We are working on a nuget package but in the mean time you can get the library as a zip file</p>

<ul>
	<li><a href="Downloads/jquery.ImageMapResize-1.0.0.zip">Version 1.0.0</a></li>
</ul>

<h2>GitHub</h2>

<p>The project is <a href="https://github.com/leemicw/ImageMapResize">hosted on github</a>.  Feel free to fork.</p>


