@model ImageMapResizeWebsite.ViewModels.Download.DownloadIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Versioning</h2>

<p>We use the <a href="http://semver.org/">Semantic Versioning 2.0.0</a> system for versioning this library. </p>

<h2>Zip File</h2>

<p>We are working on a nuget package but in the mean time you can get the library as a zip file</p>

<ul>
	<li>Version 1.0.0</li>
</ul>


