body {
  background: #cacaca url('../../images/shared/RootLayoutPage/background.png') repeat-x;
  font-family: Arial, sans-serif;
}
header {
  width: 100%;
  color: #ffffff;
}
header h1 {
  margin-bottom: 0px;
  font-weight: bold;
  color: #FFFFFF;
}
#sub_header {
  text-align: right;
  font-weight: bold;
  color: #FFFFFF;
}
#footer {
  text-align: center;
  margin: 10px auto;
  font-size: .8em;
}
.content h2 {
  margin-top: 0px;
  font-weight: bold;
  color: #a40008;
}
#clear {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
}
a {
  color: #a40008;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #a40008;
  font-weight: bold;
  text-decoration: underline;
}
a.menu_link {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
a.menu_link:hover {
  color: #a40008;
  font-weight: bold;
  text-decoration: none;
}
.quote {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 499px) {
  #sub_header {
    font-weight: normal;
    font-size: .8em;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  #topMenu {
    padding-top: 2px;
    display: normal;
    background: #ffffff;
    text-align: center;
  }
  #topMenu ul {
    margin: 0;
    font-size: .9em;
    padding: 10px 2px 10px 2px;
  }
  #topMenu li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
  }
  #topMenu .menu_title {
    display: none;
  }
  #rightMenu {
    display: none;
  }
  #main_content_top {
    display: none;
  }
  #main_content_bottom {
    display: none;
  }
  #mainContentWrapper {
    /*display: table;*/
  
    width: 100%;
    min-height: 400px;
  }
  #mainContentWrapper #main_content {
    /*display:table-row;*/
  
    background: #FFFFFF;
  }
  #mainContentWrapper #main_content div {
    display: normal;
  }
  #mainContentWrapper #main_content #rightMenu {
    display: none;
  }
  #mainContentWrapper #main_content #mainContentLeftGutter {
    display: none;
  }
  #mainContentWrapper #main_content #mainContentRightGutter {
    display: none;
  }
  .content {
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
  }
  .content h2 {
    font-size: 1.2em;
  }
}
@media (min-width: 500px) {
  #sub_header {
    font-size: .9em;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  #topMenu {
    display: none;
  }
  #main_content_top {
    height: 9px;
    background: #ffffff url('../../images/shared/RootLayoutPage/contentUpperSlice.gif') repeat-x;
  }
  #main_content_top img {
    display: block;
  }
  #main_content_top #contentUpperLeftCorner {
    float: left;
  }
  #main_content_top #contentUpperRightCorner {
    float: right;
  }
  #main_content_bottom {
    height: 9px;
    background: #ffffff url('../../images/shared/RootLayoutPage/contentLowerSlice.gif') repeat-x;
  }
  #main_content_bottom img {
    display: block;
  }
  #main_content_bottom #contentLowerLeftCorner {
    float: left;
  }
  #main_content_bottom #contentLowerRightCorner {
    float: right;
  }
  #mainContentWrapper {
    display: table;
    width: 100%;
    min-height: 400px;
  }
  #mainContentWrapper #main_content {
    display: table-row;
    background: #FFFFFF;
  }
  #mainContentWrapper #main_content div {
    display: table-cell;
  }
  #mainContentWrapper #main_content #mainContentLeftGutter {
    width: 7px;
    background: url('../../Images/Shared/RootLayoutPage/contentLeftSlice.gif') repeat-y;
  }
  #mainContentWrapper #main_content #mainContentRightGutter {
    width: 5px;
    background: url('../../Images/Shared/RootLayoutPage/contentRightSlice.gif') repeat-y;
  }
  .content {
    padding: 0 30px 0 30px;
    background-color: #ffffff;
  }
  .content h2 {
    font-size: 1.4em;
  }
  #rightMenu {
    width: 110px;
    padding: 0 10px 0 20px;
    border-left: #8C8484 1px solid;
  }
  #rightMenu ul {
    margin: 0;
    font-size: .9em;
    padding: 10px 0 20px 15px;
  }
  #rightMenu li {
    padding-top: 2px;
    list-style-type: disc;
  }
  #rightMenu .menu_title {
    font-weight: bold;
    font-size: 1.4em;
    color: #a40008;
  }
}
@media (min-width: 1000px) {
  #sub_header {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    color: #FFFFFF;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  #topMenu {
    display: none;
  }
  #container {
    margin: 0 auto;
    width: 1000px;
  }
  #main_content_top {
    height: 9px;
    background: #ffffff url('../../images/shared/RootLayoutPage/contentUpperSlice.gif') repeat-x;
  }
  #main_content_top img {
    display: block;
  }
  #main_content_top #contentUpperLeftCorner {
    float: left;
  }
  #main_content_top #contentUpperRightCorner {
    float: right;
  }
  #main_content_bottom {
    height: 9px;
    background: #ffffff url('../../images/shared/RootLayoutPage/contentLowerSlice.gif') repeat-x;
  }
  #main_content_bottom img {
    display: block;
  }
  #main_content_bottom #contentLowerLeftCorner {
    float: left;
  }
  #main_content_bottom #contentLowerRightCorner {
    float: right;
  }
  #mainContentWrapper {
    display: table;
    width: 100%;
    min-height: 400px;
  }
  #mainContentWrapper #main_content {
    display: table-row;
    background: #FFFFFF;
  }
  #mainContentWrapper #main_content div {
    display: table-cell;
  }
  #mainContentWrapper #main_content #mainContentLeftGutter {
    width: 7px;
    background: url('../../Images/Shared/RootLayoutPage/contentLeftSlice.gif') repeat-y;
  }
  #mainContentWrapper #main_content #mainContentRightGutter {
    width: 5px;
    background: url('../../Images/Shared/RootLayoutPage/contentRightSlice.gif') repeat-y;
  }
  .content {
    padding: 0 30px 0 30px;
    background-color: #ffffff;
  }
  .content h2 {
    font-size: 1.4em;
  }
  #rightMenu {
    width: 110px;
    padding: 0 10px 0 20px;
    border-left: #8C8484 1px solid;
  }
  #rightMenu ul {
    margin: 0;
    font-size: .9em;
    padding: 10px 0 20px 15px;
  }
  #rightMenu li {
    padding-top: 2px;
    list-style-type: disc;
  }
  #rightMenu .menu_title {
    font-weight: bold;
    font-size: 1.4em;
    color: #a40008;
  }
}
