body {
  background: #cacaca url('../../images/shared/RootLayoutPage/background.png') repeat-x;
  font-family: Arial, sans-serif;
}
header {
  width: 100%;
}
#sub_header {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  padding-right: 20px;
  padding-bottom: 20px;
}
#mainContentWrapper {
  display: table;
  width: 100%;
}
#mainContentWrapper #main_content {
  display: table-row;
  background: #FFFFFF;
}
#mainContentWrapper #main_content div {
  display: table-cell;
}
#mainContentWrapper #main_content #mainContentLeftGutter {
  width: 7px;
  background: url('../../Images/Shared/RootLayoutPage/contentLeftSlice.gif') repeat-y;
}
#mainContentWrapper #main_content #mainContentRightGutter {
  width: 5px;
  background: url('../../Images/Shared/RootLayoutPage/contentRightSlice.gif') repeat-y;
}
#main_content_top {
  height: 9px;
  background: #ffffff url('../../images/shared/RootLayoutPage/contentUpperSlice.gif') repeat-x;
}
#main_content_top img {
  display: block;
}
#main_content_top #contentUpperLeftCorner {
  float: left;
}
#main_content_top #contentUpperRightCorner {
  float: right;
}
#main_content_bottom {
  height: 9px;
  background: #ffffff url('../../images/shared/RootLayoutPage/contentLowerSlice.gif') repeat-x;
}
#main_content_bottom img {
  display: block;
}
#main_content_bottom #contentLowerLeftCorner {
  float: left;
}
#main_content_bottom #contentLowerRightCorner {
  float: right;
}
#footer {
  text-align: center;
  margin: 10px auto;
  font-size: .8em;
}
.content {
  padding: 0 30px 0 30px;
}
.menu {
  width: 139px;
  padding: 0 20px 0 20px;
  border-left: #8C8484 1px solid;
}
header h1 {
  margin-bottom: 0px;
  font-weight: bold;
  color: #FFF;
}
.content h2 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.4em;
  color: #a40008;
}
#clear {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
}
.menu_title {
  font-weight: bold;
  font-size: 1.4em;
  color: #a40008;
}
.menu ul {
  margin: 0;
  font-size: .9em;
  padding: 10px 0 20px 15px;
}
.menu li {
  padding-top: 2px;
  list-style-type: disc;
}
a {
  color: #a40008;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #a40008;
  font-weight: bold;
  text-decoration: underline;
}
a.menu_link {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
a.menu_link:hover {
  color: #a40008;
  font-weight: bold;
  text-decoration: none;
}
.quote {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
@media (min-width: 1000px) {
  #container {
    margin: 0 auto;
    width: 1000px;
  }
}
